body {
  background-color: #F2F4F7;
}
.App {
  margin: 10px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 80%;
  display: flex;
}
.div1 {
  width: 50%;
  margin-right: 5px;
  display: flex;
  flex-direction:column;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc; 
  border-radius: 5px;
}
.div2 {
  width: 50%;
  margin-left: 5px;
  display: flex;
  flex-direction:column;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc; 
  border-radius: 5px;
}

.citiesList {
  display: flex;
  flex-direction: column;
  margin-top: 10px; 
}

.citiesList button {
  margin: 0px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: #F6F7FA;
  border: 1px solid #ccc;
  opacity:0.75;
  background-image: url(https://img.icons8.com/material-outlined/24/000000/next-location.png);
  background-repeat: no-repeat;
  padding-left: 30px;
  background-position-y: 50%;
  background-position-x: 10px;
}

.citiesList button:hover {
  opacity: 1;
  color: black;
}

.citiesList button:nth-last-child(1) {
  margin: 0px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: #F6F7FA;
  border: 1px solid #ccc;
  border-radius: 0px 0px 5px 5px; 
}

.citiesList button:nth-child(1) {
  margin: 0px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: #F6F7FA;
  border: 1px solid #ccc;
  border-radius: 5px 5px 0px 0px; 
}

.trajet label {
  padding-bottom: 15px;
}

.div1 div {
  margin: 10px;
}

.div1 .trajet {
  display: flex;
  flex-direction: column;
}
.div1 input {
  height: 30px;
}

.div1 input:focus {
  border: 1px solid #01C3A7;
  outline: none;
}

.borderInputTrajet1{
  text-align: left;
  background-image: url(https://img.icons8.com/material-outlined/24/000000/japanese-bullet-train.png);
  opacity:0.75;
  background-repeat: no-repeat;
  padding-left: 30px;
  background-position-y: 50%;
  border-radius: 5px 5px 0px 0px; 
  border: 1px solid #ccc;
  background-color: #F6F7FA; 
}

.borderInputTrajet2{
  text-align: left;
  opacity:0.6;
  background-image:  url(https://img.icons8.com/ios-glyphs/30/000000/alpha-flag.png);
  background-repeat: no-repeat;
  padding-left: 30px;
  background-position-y: 50%;
  border: 1px solid #ccc;
  border-radius: 0px 0px 5px 5px; 
  background-color: #F6F7FA; 
}

.borderInputTrajet3{
  text-align: left;
  background-image: url(https://img.icons8.com/windows/30/000000/calendar-2.png);
  opacity:0.75;
  background-repeat: no-repeat;
  padding-left: 30px;
  background-position-y: 50%;
  border-radius: 5px 5px 0px 0px; 
  border: 1px solid #ccc;
  background-color: #F6F7FA; 
}

.borderInputTrajet4{
  text-align: left;
  opacity:0.6;
  background-image:  url(https://img.icons8.com/windows/30/000000/calendar-2.png);
  background-repeat: no-repeat;
  padding-left: 30px;
  background-position-y: 50%;
  border: 1px solid #ccc;
  border-radius: 0px 0px 5px 5px; 
  background-color: #F6F7FA; 
}

.age {
  display: flex;
  justify-content: space-between;
}

.age input {
  text-align: left;
  background-image:  url(https://img.icons8.com/windows/32/000000/administrator-male.png);
  background-repeat: no-repeat;
  padding-left: 30px;
  background-position-y: 50%;
  border-radius: 5px 5px 0px 0px; 
  border: 1px solid #ccc;
  background-color: #F6F7FA; 
}

.age button {
  background-color: #01C3A7;; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

.age button:hover {
  background-color: rgb(0, 146, 124); /* Green */
}

.div1 .date {
  display: flex;
  flex-direction: column;
}

ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */
.month {
  padding: 20px 0px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}